#principal{
    background:#ffff00 url(http://yavoyencomiendas.com/pedidos/img/art/yavoy_combo1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 